@import 'constantes';
/* styles.css o App.css */
@import '~bootstrap-icons/font/bootstrap-icons.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//card-loader
.conteiner-card-loader{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .card-loader{
        width: 250px;
        height: 300px;
        margin: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img-loader{
            width: 95%;
            height: 60%;
            background: linear-gradient(90deg, #a4a4a5 25%, #c7c7c7 50%, #a4a4a5 75%);
            background-size: 200% 100%;
            animation: slide 2s linear infinite;
        }
        .title-loader{
            width: 95%;
            height: 6%;
            margin: 8px;
            background: linear-gradient(90deg, #a4a4a5 25%, #c7c7c7 50%, #a4a4a5 75%);
            background-size: 200% 100%;
            animation: slide 2s linear infinite;
        }
        .btn-loader{
            width: 95%;
            height: 6%;
            margin: 8px;
            background: linear-gradient(90deg, #a4a4a5 25%, #c7c7c7 50%, #a4a4a5 75%);
            background-size: 200% 100%;
            animation: slide 2s linear infinite;
        }
        @keyframes slide {
            0% {
              background-position: 100% 0;
            }
            100% {
              background-position: -100% 0;
            }
        }

    }
}


//faqs
.accordion-button:not(.collapsed){
    background-color: $color-secondary;
}
//card
.container-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .products-card{
        width: 250px;
        height: 300px;
        margin: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .container-img{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            .products-card_img{
                width: 95%;
                object-fit: cover;
            }
        }

        .products-card_section{
            margin-top: 8px;
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .products-card_section_h5{
                font-size: 1.1rem;
            }

            .products-card_section_link{
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                width: 95%;
                height: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: $color-secondary;
                border: 0.5px solid $color-secondary;
            }
        }
    }
}



//styles navBarMobile
.navBarMobile{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;

    .navBarMobile_section{
        width: 20%;
        .navBarMobile_section_svg-on{
            margin-left: 16px;
            margin-right: 16px;
            color: $color-secondary;
            transform:rotate(180deg);
            transition: transform 0.5s ease-in-out;
          }
          .navBarMobile_section_svg-off{
            margin-left: 16px;
            margin-right: 16px;
            color: $color-secondary;
            transform:rotate(-180deg);
            transition: transform 0.5s ease-in-out;
        }
        
        .links-close{
                background-color: $color-primary;
                width: 180px;
                height: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                top: 55px;
                left: 0;
                padding-left: 16px;
                transform: translateX(-100%);
                transition: transform 0.3s ease-in-out;
                z-index: 999;
                .link{
                    text-decoration: none;
                    color: black;
                    margin-top: 10px;
                    font-size: 1.1rem;
                    font-weight: 600;
                }
                .navBarMobile_section_div_div-off{
                    display: flex;
                    flex-direction: column;
                    height: 0px;
                    overflow: hidden;
                    transition: all 0.3s ease-in;
                    .links-category{
                        text-decoration: none;
                        color: black;
                        margin-top: 10px;
                        font-size: 1.1rem;
                        font-weight: 600;
                        margin-left: 16px;
                    }
                }
                .navBarMobile_section_div_div-on{
                    display: flex;
                    flex-direction: column;
                    height: 110px;
                    overflow: hidden;
                    transition: all 0.3s ease-in;
                    .links-category{
                        text-decoration: none;
                        color: black;
                        margin-top: 10px;
                        font-size: 1.1rem;
                        font-weight: 600;
                        margin-left: 16px;
                    }
                }
                
          }

        .links-open{
            background-color: $color-primary;
            width: 180px;
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            top: 55px;
            left: 0;
            padding-left: 16px;
            transform: translateX(0%);
            transition: transform 0.3s ease-in-out;
            transition-delay: 0.1s, 0s;
            z-index: 999;
            .navBarMobile_section_div_div{
                display: flex;
                justify-content: center;
                align-items: center;

            }

            .link{
                text-decoration: none;
                color: black;
                margin-top: 10px;
                font-size: 1.1rem;
                font-weight: 600;
            }
            .navBarMobile_section_div_div-off{
                display: flex;
                flex-direction: column;
                height: 0px;
                overflow: hidden;
                transition: all 0.3s ease-in;
                .links-category{
                    text-decoration: none;
                    color: black;
                    margin-top: 10px;
                    font-size: 1.1rem;
                    font-weight: 600;
                    margin-left: 16px;
                }
            }
            .navBarMobile_section_div_div-on{
                display: flex;
                flex-direction: column;
                height: 110px;
                overflow: hidden;
                transition: all 0.3s ease-in;
                .links-category{
                    text-decoration: none;
                    color: black;
                    margin-top: 10px;
                    font-size: 1.1rem;
                    font-weight: 600;
                    margin-left: 16px;
                }
            }
        }
          

    }

    .navBarMobile_div{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        .navBarMobile_div_img{
            color: $color-secondary;
            width: 50%;
            margin-left: -20%;
        }

        .navBarMobile_div_name{
            color: black;
            margin-left: 16px;
            font-size: 1.2rem;
            font-weight: 600;
            margin-top: -16px;
            .navBarMobile_div_name_span{
                color: $color-secondary;
                font-size: 1.8em;
                font-weight: 700;
            }
        }
    }

}

//Home styles

.home_div{
    margin: auto;
    margin-top: 32px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

    .home_div_h1{
        text-align: center;
        font-size: 1.5rem;
    }

    .home_div_p{
        text-align: center;
        font-size: 1rem;
        color: $color-tertiary;
    }
}

//home NewProducts Styles
.new-produts{
    overflow-x: hidden;
    width: 100%;
    padding-bottom: 32px;
    .new-produts_aside{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: flex-end;
        margin-left: 8px;
        .new-produts_aside_span{
            display: flex;
            background-color: $color-secondary;
            width: 30px;
            height: 15px;
        }
        .new-produts_aside_p{
            position: relative;
            bottom: -20px;
            margin-left: 8px;
            color: $color-tertiary;

            .new-produts_aside_p_span{
                border-bottom: 0.5px solid $color-secondary;
            }
        }
    }

    .new-products_link{
        display:flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 75%;
        height: 30px;
        text-align: center;
        text-decoration: none;
        color: $color-secondary;
        border: 0.5px solid $color-secondary;
    }
}

//Products styles
.products-container{
    overflow-x: hidden;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .products-container_main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .products-container_card{
            margin: 8px;
            width: 250px;
            height: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(202, 202, 202, 0.205);
            border-radius: 60px;
    
            .products-container_card_img{
                width: 95%;
            }
            .products-container_card_section{
                margin-top: 8px;
                width: 95%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                .products-container_card_section_link{
                    width: 75%;
                    height: 30px;
                    text-align: center;
                    text-decoration: none;
                    color: $color-secondary;
                    border: 0.5px solid $color-secondary;
                }
            }
        }
    }

    .navigation-products{
        margin-top: -32px;
        width: 100%;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-primary;
        .navigation-products_p{
            width: 33%;
            margin: auto;
            text-align: center;
            color: black;
            font-size: 1.2rem;
            font-weight: 600;
        }
        .navigation-products_div{
            position: relative;
            width: 33%;
            display: flex;
            justify-content: center;
            align-items: center;
            .navigation-products_div_p{
                margin: auto;
                color: black;
                font-size: 1.2rem;
                font-weight: 600;
            }
            .navigation-products_div_svg{
                margin-left: -20px;
            }
            .navigation-products_div_section-off {
                width: 0px;
                height: 0px;
                padding: 0px;
                overflow: hidden;
                .navigation-products_div_section_p{
                    margin: auto;
                    color: black;
                    font-size: 1.2rem;
                    font-weight: 600;
                }
              }
              
              .navigation-products_div_section-on {
                top: 45px;
                padding: 16px;
                position: absolute;
                height: 100px;
                overflow: hidden;
                color: black;
                background-color: $color-primary;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                transition: height 0.2s ease-in-out, width 0.1s ease, padding 0.2s ease-in-out;
                .navigation-products_div_section_p{
                    color: black;
                    font-size: 1.15rem;
                    font-weight: 600;
                }
              }
              
        }
    }
}

//products categories styles
.filters{
    display: flex;
    flex-direction: column;
    width: 100%;
    .filters_title{
        width: 100%;
        text-align: center;
        padding: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(240, 240, 240);
        .svg-off {
            transform: rotateZ(0deg);
            transition: all 0.2s ease-in-out;
          }
          
          .svg-on {
            transform: rotateZ(180deg);
            transition: all 0.2s ease-in-out;
          }
          
    }
    .filters_form-off{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 0px;
        height: 0px;
        overflow: hidden;
        margin-left: 8px;
        margin-top: 8px;
        transition: height 0.3s ease-in-out , width 0.3s ease-in-out;
        transition-delay: 0s, 0.3s;
        .filters_form_div{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 8px;
            .filters_form_div_input{
                margin-right: 8px;
            }
            .filters_form_div_input[type="radio"]{
                height: 20px;
                width: 20px;
            }
        }
        .filters_form_div-btn{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                border: none;
                height: 30px;
                border-radius: 6px;
                border: 0.2px solid $color-secondary;
                color: $color-secondary;
            }
        }

    }
    .filters_form-on{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 120px;
        overflow: hidden;
        margin-left: 8px;
        margin-top: 8px;
        transition: height 0.3s ease-in-out;
        .filters_form_div{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 8px;
            .filters_form_div_input{
                margin-right: 8px;
            }
            .filters_form_div_input[type="radio"]{
                height: 20px;
                width: 20px;
            }
        }
        .filters_form_div-btn{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                border: none;
                height: 30px;
                border-radius: 6px;
                border: 0.2px solid $color-secondary;
                color: $color-secondary;
            }
        }

    }
}

.paginate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate_link{
        margin: 6px;
        text-decoration: none;
    }
    .paginate_p{
        margin: 6px;
        margin-top: 5px;
    }
}

//ProductsDetails styles


.detail-container{
    padding-bottom: 32px;
    .main-container{
        margin: auto;
        margin-top: 32px;
        width: 95%;
        .custom-left-arrow{
            position: absolute;
            z-index: 2;
            top: 50%;
            transform: translateY(-50%);
            background-color: $color-secondary-opacity;
            color: white ;
            border-radius: 8px;
        }
        .custom-right-arrow{
            position: absolute;
            z-index: 2;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background-color:$color-secondary-opacity;
            color: white ;
            border-radius: 8px;
        }
    }

    .detail-container_main{
        width: 95%;
        margin: auto;
        margin-top: 16px;

        .detail-container_main_h1{
            font-size: 1.5rem;
            font-weight: 700;
        }
        .detail-container_main_p{
            display: flex;
            margin-top: 32px;
            .detail-container_main_p_span{
                margin-right: 4px;
                display: flex;
                background-color: $color-secondary;
                width: 5px;
                height: 24px;
            }
        }

        .detail-container_main_section{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            .detail-container_main_section_div{
                height: 130px;
                width: 33%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                .detail-container_main_section_div_svg{
                    color: $color-secondary;
                }

                .detail-container_main_section_div_p{
                    margin-top: 8px;
                    text-align: center;
                }
            }
        }

        .detail-container_main_div{

            .detail-container_main_div_h5{

                .detail-container_main_div_h5_span{
                    border-bottom: 0.3px solid $color-secondary;
                }
            }

            .detail-container_main_div_p{
                padding-right: 8px;
            }
        }

        .detail-container_main_Link{
            width: 98%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background-color: $color-secondary;
            border-radius: 6PX;
            color: rgb(255, 255, 255);
        }
    }
}

//aboutus styles
.aboutus-container{
    width: 100%;
    position: relative;
    
    .aboutus-container_div{
        width: 100%;
        padding: 0px 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        .aboutus-container_div_div{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .aboutus-container_div_img{
                width: 95%;
                margin: 16px 0px;
                border-radius: 6px;
            }
            .aboutus-container_div_p{
                width: 95%;
                font-size: 1.1rem;
                font-weight: 500;
                color: rgb(150, 150, 150);
                text-align: center;
                margin-top: 16px;
            }
        }

        .aboutus-container_div_h1{
            margin: 32px 0px;
            font-size: 1.7rem;
            font-weight: 700;
            .span{
                border-bottom: 0.2px solid $color-secondary;
                padding-bottom: 2px;
            }
        }
        
    }
    .aboutus-container_section{
        padding-top: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-bottom: 32px;

        .aboutus-container_section_div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 16px 32px;
            width: 350px;
            .aboutus-container_section_div_icon{
                color: $color-secondary;
                margin-bottom: 8px;
            }
            .aboutus-container_section_div_aside{
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .aboutus-container_section_div_aside_h4{
                    font-size: 1.2rem;
                    font-weight: 700;
                }
                .aboutus-container_section_div_aside_p{
                    text-align: center;
                }
            }
        }
    }
}

//contact styles
.contact-container{
    .success-off{
        position: fixed;
        top: 0;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        height: 40px;
        width: 100%;
        padding: 8px;
        background-color: rgba(1, 196, 1, 0.89);
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
        .mensaje{
            margin: 0px;
            margin-left: 6px;
            color: black;
        }

    }
    .success-on{
        position: fixed;
        top: 0;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        height: 40px;
        width: 100%;
        padding: 8px;
        background-color: rgba(1, 196, 1, 0.89);
       transform: translateY(0%);
        transition: all 0.3s ease-in-out;
        .mensaje{
            margin: 0px;
            margin-left: 6px;
            color: black;
        }
    }
    .alert-off{
        position: fixed;
        top: 0;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        height: 40px;
        width: 100%;
        padding: 8px;
        background-color: rgb(243, 78, 78);
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
        .title{
            font-weight: 600;
            align-items: center;
            margin-left: 8px;
            margin-bottom: 0px;
            font-size: 0.6rem;
            color: black;
        }
        .message{
            margin-left: 3px;
            margin-bottom: 0px;
            font-size: 0.5rem;
            color: black;
            margin-top: 2px;
        }
    }
    .alert-on{
        position: fixed;
        top: 0;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        height: 40px;
        width: 100%;
        padding: 8px;
        background-color: rgb(243, 78, 78);
        transform: translateY(0%);
        transition: all 0.3s ease-in-out;
        .title{
            font-weight: 600;
            align-items: center;
            margin-left: 8px;
            margin-bottom: 0px;
            font-size: 0.6rem;
            color: black;
        }
        .message{
            margin-left: 3px;
            margin-top: 2px;
            margin-bottom: 0px;
            font-size: 0.5rem;
            color: black;
        }
    }
    .contact-container_div{
        margin: auto;
        margin-top: 32px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .contact-container_div_h1{
            font-size: 1.5rem;
            font-weight: 700;
        }
        .contact-container_div_p{
            color: rgba(141, 141, 141, 0.644);
            text-align: center;
        }
    }
    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .form_input{
            width: 90%;
            padding-left: 16px;
            height: 50px;
            margin-top: 8px;;
            border: none;
            border-radius: 6px;
            background-color: rgba(141, 141, 141, 0.1);
        }
        .form_input:focus{
            outline: none;
            border: 0.3px solid rgb(160, 160, 160);
        }
        .form_input:nth-child(4){
            height: 100px;
            padding-top: 8px;
        }
        .form_btn{
            width: 90%;
            height: 45px;
            margin-top: 16px;
            border: 0.5px solid $color-secondary;
            border-radius: 6px;
            background-color: white;
            .span{
                color: $color-secondary;
            }
        }
    }
    .contact-container_section{
        margin: auto;
        margin-top: 32px;
        width: 95%;
        .contact-container_section_div{
            .contact-container_section_div_h5{
                position: relative;
                width: 100%;
                font-size: 1.2rem;
                font-weight: 600;
            }
            .contact-container_section_div_h5::before{
                content: '';
                position: absolute;
                left: 10px;
                bottom: -15px;
                width: 15%;
                border-bottom: 2px solid rgba(112, 112, 112, 0.7);
            }
            .contact-container_section_div_h5::after{
                content: '';
                position: absolute;
                right: 10px;
                bottom: -15px;
                width: 80%;
                border-bottom: 2px solid rgba(112, 112, 112, 0.4);
            }

            .contact-container_section_div_div{
                display: flex;
                margin-top: 32px;
                margin-bottom: 32px;

                .contact-container_section_div_div_svg{
                    color: $color-secondary;
                }

                .contact-container_section_div_div_p{
                    margin-left: 8px;
                    width: 85%;
                }

                .contact-container_section_div_div_link{
                    text-decoration: none;
                    margin-right: 16px;
                    .contact-container_section_div_div_link_svg{
                        color: $color-secondary;

                    }
                }
            }

            .contact-container_section_div_p{
                margin-top: 32px;
            }
        }
    }
    .contact-container_aside{
        width: 95%;
        margin: auto;
        padding-bottom: 32px;
        .contact-container_aside_iframe{
            width: 100%;
            height: 200px;
        }
    }
}

//faqs styles
.accordion{
    margin-top: 32px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .accordion-item{
        margin-top: 16px;
        border: none;
        border-top: 0.5px solid rgb(209, 208, 208);
        border-bottom: 0.5px solid rgb(209, 208, 208);
        .accordion-button{
            width: 99vw;
        }
    }
}

//footer styles

.footer{
    overflow-x: hidden;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;

    .footer_navigation,
    .footer_contact-us,
    .footer_social{
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;
        border-bottom: 0.4px solid $color-secondary;
        margin-bottom: 16px;

        .footer_navigation_h6,
        .footer_contact-us_h6,
        .footer_social_h6{
            color: black;
            font-size: 1.2rem;
            font-weight: 500;
        }

        
        .footer_navigation_link{
            text-decoration: none;
            color: black;
            font-size: 0.9rem;
        }

        .footer_social_redes{
            display: flex;
            .footer_social_svg{
                display: flex;
                color: black;
                margin-left: 8px;
                transition: all 0.1s ease-in-out;
            }
            .footer_social_svg:hover{
                color: $color-secondary;
                transform: rotateZ(-15deg);
                transition: all 0.1s ease-in-out;
            }
        }
        
        .footer_contact-us_svg{
            display: flex;
            color: black;
            margin-top: 8px;
            
            .footer_contact-us_svg_span{
                margin-left: 8px;
                color: black ;
                font-size: 0.9rem;
            }
        }
    }
    .footer_dev{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer_dev_link{
            font-size: 1rem;
            text-decoration: none;
            color: black;
        }
    }
}

//btn-wpp styles

.btn-wpp{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media screen and (max-width: 1024px){
    .detail-container{
        .main-container{
            .image-gallery{
                .image-gallery-content{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .image-gallery-slide-wrapper{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media  screen and (min-width: 768px){
//navbarmobile
    .navBarMobile{
        .navBarMobile_div{
            width: 100%;
            .navBarMobile_div_img{
                width: 20%;
            }
        }
    }


    .container-category{
        display: grid;
        grid-template-columns: 0.2fr 0.8fr;
        position: relative;
        .filters{
            position: sticky;
            top: 0;
            left: 0;
            .filters_title{
                background-color: rgb(240, 240, 240);
            }
        }
        .container-cards{
            grid-column: 2;
            .container-card{
                justify-content: space-evenly;
            }
        }
    }

    //aboutus
    .aboutus-container{
        
        .aboutus-container_section{
            width: 100%;
            .aboutus-container_section_div{
                flex-direction: row;
                align-items: flex-start;
                .aboutus-container_section_div_aside{
                    align-items: flex-start;
                    .aboutus-container_section_div_aside_h4{
                        padding-left: 8px;
                    }
                    .aboutus-container_section_div_aside_p{
                        margin-left: 8px;
                        text-align: start;
                    }
                }
            }
        }
    }
} 

@media screen and (min-width: 1024px){
    //aboutus 
    .aboutus-container{
        .aboutus-container_div{
            .aboutus-container_div_div{
                flex-direction: row;
                .aboutus-container_div_img{
                    width: 50%;
                }
                .aboutus-container_div_p{
                    width: 40%;
                }
            }
        }
    }
    //card
    .container-card {
        .products-card {
          .products-card_section {
              .products-card_section_link{
                  position: relative;
                  overflow-x: hidden;
                  .span{
                      color: $color-secondary;
                      z-index: 2;
                  }
                  &::after {
                      content: "";
                      width: 100%;
                      height: 100%;
                      background-color: $color-secondary;
                      position: absolute;
                      border: none;
                      z-index: 1;
                      transform: translateX(-101%);
                      transition: all 0.3s ease-in-out;
                  }
              }
              .products-card_section_link:hover{
                  .span{
                      color: rgb(255, 255, 255);
                      transition: color 0.4s ease-in-out;
                  }
                  &::after{
                      transform: translateX(0px);
                      z-index: 1;
                      transition: all 0.3s ease-in-out;
                  }
              }
          }
        }
      }
    //navbar styles
    .navBar-desktop{
        height: 80px;
        display: flex;
        justify-content: space-between;
        background-color: $color-primary;
        .navBar-desktop_div{
            margin: auto 0px;
            display: flex;
            justify-content: center;
            text-decoration: none;
            .navBar-desktop_div_img{
                width: 100%;
                margin-left: 16px;
            }
        }
        .navBar-desktop_section{
            display: flex;
            justify-content: center;
            align-items: center;
            .navBar-desktop_section_div{
                position: relative;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .navBar-desktop_section_div_aside-off{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    top: 100%;
                    left: 0;
                    width: 0px;
                    height: 0px;
                    overflow: hidden;
                    padding: 0px;
                    background-color: $color-primary;
                    z-index: 999;
                    transition: width 0.3s ease-in-out, height 0.0s ease-in-out, padding 0.01s ease-in-out;
                    transition-delay: 0s, 0.25s, 0.20s;

                    .navBar-desktop_section_div_aside_lnik{
                        text-decoration: none;
                        color: black;
                    }
                }
                .navBar-desktop_section_div_aside-on{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    top: 100%;
                    left: 0;
                    width: 100px;
                    height: 100px;
                    padding: 8px;
                    overflow: hidden;
                    background-color: $color-primary;
                    border: 0.1px solid $color-primary;
                    z-index: 999;
                    transition: width 0.2s ease-in-out;
                    .navBar-desktop_section_div_aside_lnik{
                        text-decoration: none;
                        color: black;
                    }
                }

            }
            .navBar-desktop_section_link{
                text-decoration: none;
                color: black;
                font-size: 1rem;
                font-weight: 600;
                padding: 8px;
                margin-right: 6px;
                position: relative;

            }
            .navBar-desktop_section_link::before {
                content: '';
                display: block;
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 0;
                height: 1px;
                background-color: $color-secondary;
                transition: width 0.3s ease;
              }
              .navBar-desktop_section_link:hover::before {
                width: 100%;
              }
           
            .navBar-desktop_section_link.active{
                border-bottom: 2px solid $color-secondary;
            }
        }
    }

    //contact styles
    .contact-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 5px;
        overflow: hidden;
        .alert-off{
            .title{
                font-size: 1rem;
            }
            .message{
                font-size: 0.9rem;
            }
        }
        .alert-on{
            .title{
                font-size: 1rem;
            }
            .message{
                font-size: 0.9rem;
            }
        }
        
        .contact-container_div{
            grid-column: span 2;
            grid-row: span 1;
        }
        .form{
            grid-column: span 2;
            grid-row: 2;
            .form_btn{
                position: relative;
                overflow-x: hidden;
                .span{
                    color: $color-secondary;
                    z-index: 2;
                }
                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: $color-secondary;
                    position: absolute;
                    border: none;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    transform: translateX(-101%);
                    transition: all 0.3s ease-in-out;
                }
            }
            .form_btn:hover{
                .span{
                    color: black;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: color 0.4s ease-in-out;
                }
                &::after{
                    transform: translateX(0px);
                    z-index: 1;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        .contact-container_section{
            grid-column: 3;
            grid-row: span 2;
        }
        .contact-container_aside{
            grid-column: span 3;
            grid-row: 3;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    //newProducts styles
    .new-produts {
        .new-products_container-card {
          .new-products_card {
            .new-products_card_section {
                .new-products_card_section_link{
                    position: relative;
                    overflow-x: hidden;
                    .span{
                        color: $color-secondary;
                        z-index: 2;
                    }
                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        background-color: $color-secondary;
                        position: absolute;
                        border: none;
                        z-index: 1;
                        transform: translateX(-101%);
                        transition: all 0.3s ease-in-out;
                    }
                }
                .new-products_card_section_link:hover{
                    .span{
                        color: black;
                        transition: color 0.4s ease-in-out;
                    }
                    &::after{
                        transform: translateX(0px);
                        z-index: 1;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
          }
        }
        .new-products_link{
            width: 30%;
            position: relative;
            overflow: hidden;
            .span{
                color: $color-secondary;
                z-index: 2;
            }
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: $color-secondary;
                position: absolute;
                border: none;
                z-index: 1;
                transform: translateX(-101%);
                transition: all 0.3s ease-in-out;
            }
        }
        .new-products_link:hover{
            .span{
                color: rgb(255, 255, 255);
                z-index: 2;
                transition: color 0.5s ease-in-out;
            }
            &::after{
                transform: translateX(0px);
                z-index: 1;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .detail-container{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-column: auto;
        gap: 10px;
        .detail-container_main{
            grid-column: 2;
            height: 100%;
            padding-bottom: 16px;
        }
    }

    //aboutus styles
    
      

    //FOOTER STYLES
    .footer{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        .footer_navigation{
            grid-column: 1;
            grid-row: 1;
            position: relative;
        }
        .footer_navigation::before{
            content: '';
            position: absolute;
            height: 74%;
            width: 1px;
            top: 13%;
            right:0 ;
            border-right: 0.4px solid $color-secondary;
        }
        .footer_contact-us{
            grid-column: 2;
            grid-row: 1;
            padding-left: 16px;
            position: relative;
        }
        .footer_contact-us::before{
            content: '';
            position: absolute;
            height: 74%;
            width: 1px;
            top: 13%;
            right:0 ;
            border-right: 0.4px solid $color-secondary;
        }
        .footer_social{
            grid-column: 3;
            grid-row: 1;
            padding-left: 8px;
        }
        .footer_dev{
            grid-column: span 1/3;
            grid-row: 2;
        }
    }
}